Django==5.2.2
python-dotenv==1.1.0
django-tailwind==4.0.1
django-crispy-forms==2.4
crispy-tailwind==1.0.3
django-widget-tweaks==1.5.0
django-compressor==4.5.1
django-browser-reload==1.18.0
Pillow>=11.0.0  # For image handling
python-magic==0.4.27
django-axes==8.0.0  # For more advanced login security
bleach==6.2.0  # For more advanced HTML sanitization
pyjwt==2.10.1  # For secure token handling 